

$font-stack:    Helvetica, sans-serif;
$blue: #39394A;
$purple: #63544D;
$green: #2A3327;
$nude: #FFFFFF;
$charcoal: #171514;
$tranquility: #525263;

@mixin container{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	height: 150px;
	background-color: $nude;
	@include content;
	
}

@mixin content {
	h1, h2, h3, p{
		padding: 15px;
	}
	h1 {
	font-size: 25px;
	}
	h2 {
	font-size: 20px;
	}
}

body {
	width: 100%;
	margin: 0px;
	padding: 0px;
	background-color: $blue;
	font-family: $font-stack;
	
  }

#header {
	display:inline-block;
    position:relative;
	background-color: $purple;
	width: 100%;
	.container{
	@include container;
	}
}

#banner {
	display:inline-block;
    position:relative;
	background-color: $green;
	width: 100%;
	.container{
	@include container;
	}
}

#content {
	display:inline-block;
    position:relative;
	background-color: $tranquility;
	width: 100%;
	.container{
	@include container;
	}
}

#footer {
	display:inline-block;
    position:relative;
	background-color: $purple;
	width: 100%;
	.container{
	@include container;
	}
}

//reset
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


