body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #a1ccbb; }

#header, #banner, #footer, #content {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  height: 150px;
  background-color: white; }
  #header h1, #header h2, #header h3, #header p, #banner h1, #banner h2, #banner h3, #banner p, #footer h1, #footer h2, #footer h3, #footer p, #content h1, #content h2, #content h3, #content p {
    padding: 15px; }

#container {
  background-color: #665446; }
