

$font-stack:    Helvetica, sans-serif;
$blue: #39394A;
$purple: #63544D;
$green: #2A3327;
$nude: #FFFFFF;
$charcoal: #171514;
$tranquility: #525263;

@mixin container{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	height: 150px;
	background-color: $nude;
	@include content;
	
}

@mixin content {
	h1, h2, h3, p{
		padding: 15px;
	}
}

body {
	width: 100%;
	margin: 0px;
	padding: 0px;
	background-color: $blue;
	
  }

#header {
	display:inline-block;
    position:relative;
	background-color: $purple;
	width: 100%;
	.container{
	@include container;
	}
}

#banner {
	display:inline-block;
    position:relative;
	background-color: $green;
	width: 100%;
	.container{
	@include container;
	}
}

#content {
	background-color: $tranquility;
	width: 100%;
	.container{
	@include container;
	}
}

#footer {
	background-color: $purple;
	width: 100%;
	.container{
	@include container;
	}
}


